<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <h1>{{titulo}}</h1>


<form action="/login" method="POST">
<label for="">correo</label>
<input type="email" name="correo" placeholder="Ingresa tu correo" value="aleku@gmail.com">
<label for="">contraseña</label>
<input type="password" name="contrasena" placeholder="Tu contraseña">
<button>Ingresar</button>

</form>


    <ul>
    {{#each nombres}}
    <li> {{this}} </li>
    {{/each}}
    </ul>

    <div class="lista-productos">
{{#each listaProductos}}
    <article class="lista-productos__item producto">
        <img src="">
        <h1 class="producto__titulo"> {{this.titulo}} </h1>
        <p class="producto__precio"> {{this.precio}} </p>
        <a href="/tienda/{{titulo}}">Ver más</a>
    </article>
    {{/each}}

    </div>


</body>
</html>